<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div th:replace="parts/navbar"></div>

    <div class="container">
        <h3 class="text-center my-3">Add New Post</h3>
        <form action="#" th:action="@{/posts/add}" th:object="${post}" method="post">
            <div class="form-group">
                <label for="inputParentPostID">Parent Post ID (Optional)</label>
                <input type="number"
                       class="form-control"  id="inputParentPostID"
                       th:name="parent"
                >
            </div>

            <div class="form-group">
                <label for="inputTitle">Title (Maximum 75 characters)</label>
                <input type="text"
                       class="form-control"  id="inputTitle"
                       th:field="*{title}" required
                >
            </div>

            <div class="form-group">
                <label for="inputMetaTitle">Meta Title (Maximum 100 characters)</label>
                <input type="text"
                       class="form-control"  id="inputMetaTitle"
                       th:field="*{metaTitle}"
                >
            </div>

            <div class="form-group">
                <label for="inputSummary">Summary</label>
                <textarea class="form-control" id="inputSummary" rows="3"
                    th:field="*{summary}"
                ></textarea>
            </div>

            <div class="form-group">
                <label for="inputContent">Content</label>
                <textarea class="form-control" id="inputContent" rows="5"
                    th:field="*{content}"
                ></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
    <h3 th:text="${errPost}" class="text-center text-danger"></h3>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>